.LoginContainer{
    z-index: 2;
    position:absolute;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;
    background-color: azure;
    height: 300px;
    width: 400px;

    &__Menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px;
    button{
        height: 50px;
        width: 800px;
        border: 1px solid;
        border-color: rgb(145, 145, 255);
    }
    }

}