
.chatOverlay {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    .chatFooter {
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        .paperClip {
            margin: 24px;
            font-weight: 900;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
        }
        .textInputContainer{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            .textInput {
                width: 100%;
                border: 2px solid #E2E8F0;
                box-sizing: border-box;
                border-radius: 12px;
                background: #FFFFFF;
                padding: 10px 20px;
                font-size: 14px;
                line-height: 150%;
            }
            .sendMessage {
                position: absolute;
                right: 24px;
                top: 9px;
                line-height: 20px;
                }
        }
    }
}