.chatOverlay {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  height: 100%;

  &__footer {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 24px;

    &__paperClip {
      margin-right: 24px;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      color: #000;
      cursor: pointer;
    }

    &__textInputContainer {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      border: 2px solid #e2e8f0;
      border-radius: 12px;
      align-items: center;
      padding: 10px 20px;

      &__textInput {
        width: 100%;
        border: none;
        box-sizing: border-box;
        border-radius: 12px;
        background: #fff;
        font-size: 14px;
        line-height: 150%;
        outline: none;
      }

      &__sendMessage {
        color: rgb(97 94 240);
        cursor: pointer;
      }
    }
  }
}
