.SearchContact{
    position: relative;
    background-color: rgb(218, 216, 216);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    width: 600px;
    border-right: 7px solid rgb(218, 216, 216);
    border-bottom-right-radius: 10px;
    &__NoUsers{
        margin: 30px 0 30px 80px;
        
        p{
            font-size: 16px;
        }
    }

    &__KnownUsers {
        height: 5px;
        width: 100%; 
        background-color: rgb(180, 180, 180);
        
    }
}

.GroupContactSelected{
    display: flex;
    &__button{
        position: relative;
        border-radius: 15px;
        background-color: rgb(239, 118, 255);
        color: rgb(238, 238, 238);
        font-weight: 800;
        font-size: 20px;
        height: 30px;
        top:30px;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background-color: rgb(144, 75, 153);
        }
    }
}