.chatTextColumn {
   display: flex;
   flex-flow: column nowrap;
    &__textLineWithAvatar {
        display: flex;
        flex-flow: row nowrap;
    }
    &__textLineRecievedWithoutAvatar {
       display: flex;
       flex-flow: row nowrap;
       margin: 10px 40px 0px 0px;
    }
    &__flexEnd {
       justify-content: flex-end;
    }
    &__recivedText {
        background-color: #615EF0;
        padding: 10px 16px;
        border-radius: 12px;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        clear:both;
        float:left;
        margin: 0px 10px;
        text-transform: capitalize;
    }

}