@import '../../components/common/sass/general';

.HomeLayout {
  width: 100vw;
  height: 99.5vh;
  display: flex;
  &__sidebar {
    @include sidebar;
  }
  &__messages {
    flex-grow: 0.8;
    height: 100%;
  }
  &__chat {
    flex-grow: 2;
    height: 100%;
    border-inline: 1px solid lightgray;
  }
  &__directory {
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;
  }
  &__smallDirectory{
    flex-grow: 0.2;
    height:100%;
    overflow-y: hidden;
  }
}

@include general