.HomeLayout{
    width: 100vw;
    height:99.5vh;
    display: flex;
    div{
        height:100%;
        border-radius: 10px;
        border: .1px solid black;
    }
    &__sidebar{
        width:5%;
    }
    &__messages{
        width:22.5%;
    }
    &__chat{
        width:50%;
    }
    &__directory{
        width:22.5%;
    }
}