@import '../../components/common/sass/general';

.HomeLayout {
  width: 100vw;
  height: 99.5vh;
  display: flex;
  &__sidebar {
    @include sidebar;
  }
  &__messages {
    width: 22.5%;
    height: 100%;
  }
  &__chat {
    width: 50%;
    height: 100%;
    border-inline: 1px solid lightgray;
  }
  &__directory {
    width: 22.5%;
    height: 100%;
    overflow-y: hidden;
  }
}

@include general