.memberCard {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;

  &__infoFlex {
    display: flex;
    flex-direction: column;

    h5 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}