.messages {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.08);
  overflow-y: hidden;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 19.5px 24px;
    border-block: 1px solid rgba(2, 0, 0, 0.08);
    &__title {
      display: flex;
      align-items: center;
      &__h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
      }
      &__dropdownIcon svg {
        padding-top: 5px;
        margin-left: 5px;
        cursor: pointer;
      }
      &__badge {
        background: #edf2f7;
        border-radius: 24px;
        width: 28px;
        height: 22px;
        padding: 2px 8px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
      }
    }
    &__plusButton {
      width: 40px;
      height: 40px;
      border-radius: 30px;
      outline: none;
      border: none;
      background-color: #615ef0;
      color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      box-shadow: 0px 0px 15px rgba(65, 62, 189, 0.24);
      cursor: pointer;
    }
  }

  &__container {
    height: 85%;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b3afb3;
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #b3afb3;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 0px;
      box-shadow: inset 0px 0px 0px 0px #f0f0f0;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1px;

      &__nochats {
        color: grey;
        margin-top: 20%;
      }
    }
  }
}
