.DirectoryCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3afb3;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
  }
  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px 24px;
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }

    &__more {
      background-color: rgba(97, 94, 240, 0.1);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      outline: none;
      border: none;
      cursor: pointer;

      &__icon {
        font-size: 20px;
        color: rgba(97, 94, 240, 1);
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20.5px;
    padding: 24px 16px;
    border-top: 1px solid rgba(2, 0, 0, 0.08);
    h4 {
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
    }

    &__flex {
      display: flex;
      gap: 8px;

      div {
        background-color: rgba(237, 242, 247, 1);
        border-radius: 30px;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
      }
    }

    &__cards {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
