@keyframes notifGrow {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 15px;
    height: 15px;
  }
}

.contactCard {
  position: relative;
  height: 93px;
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  cursor: pointer;
  &:hover {
    background: rgba(97, 94, 240, 0.06);
  }
  &.selected {
    background: rgba(97, 94, 240, 0.06);
    background-color: #00adff29;
    border: 1px solid #80808012;
  }
  &__image {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 12px;
    margin-right: 12px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    margin-left: 16px;
    overflow: hidden;
    max-width: 70%;
    h2 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
    }
    h3 {
      color: rgba(0, 0, 0, 0.4);
      line-height: 18px;
      font-size: 12px;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__badges {
      display: flex;
      align-items: center;
      gap: 8px;
      &__badge {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        height: 22px;
        border-radius: 12px;
        font-size: 12px;
        line-height: 21px;
        padding: 2px 8px;
      }
    }
  }
  &__timeAgo {
    font-size: 14px;
    line-height: 21px;
    color: rgba($color: #000000, $alpha: 0.3);
    margin-left: auto;
  }

  &__unread {
    animation: notifGrow 1s ease-out;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background-color: #615ef0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );
  }
}
